<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Cat1" icon-off="ios-book-outline" icon-on="ios-book" href="#/tab/cat1">
 <ion-nav-view name="tab-cat1"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
   <ion-tab title="Cat2" icon-off="ios-book-outline" icon-on="ios-book" href="#/tab/cat2">
    <ion-nav-view name="tab-cat2"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
 <ion-tab title="Cat3" icon-off="ios-book-outline" icon-on="ios-book" href="#/tab/cat3">
    <ion-nav-view name="tab-cat3"></ion-nav-view>
  </ion-tab>
 <ion-tab title="Cat4" icon-off="ios-book-outline" icon-on="ios-book" href="#/tab/cat4">
     <ion-nav-view name="tab-cat4"></ion-nav-view>

	</ion-tab>
</ion-tabs>
